img {
    width: 100%;
}
h1 {
    text-align: center;
}
header {
    text-align: center;
}
button {
    font-size: 2em;
    margin-top: 30px;
}
.titre2 {
	margin-left: 170px;
	margin-top: 180px;
}
#menu_nav {
	margin-left: 165px;
}