@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@font-face {
    font-family: 'shrikhandregular';
    src: url('fonts/shrikhand-regular-webfont.woff2') format('woff2'),
         url('fonts/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
	font-family: roboto;
}
img {
	width: 100%;
	margin-top: 10px;
}
#logo {
	width: 50%;
	width: 40%;
	display: block;
	margin: auto;
}
section {
	background-color: #f2f2f2;
	margin-top: -100px;
	padding-left: 10px;
	padding-right: 10px;
}
div {
	background-color: white;
	border-radius: 10px;
	margin-bottom: 15px;
	animation: anim 1s;
	transition: all 1s;
}
#delay1 {
	animation-delay: 0.5s;
}
#delay2 {
	animation-delay: 0.8s;
}
#delay3 {
	animation-delay: 1s;
}
#delay4 {
	animation-delay: 1.3s;
}
#delay5 {
	animation-delay: 1.5s;
}
#delay6 {
	animation-delay: 1.8s;
}
#delay7 {
	animation-delay: 2s;
}
#delay8 {
	animation-delay: 2.3s;
}
#delay9 {
	animation-delay: 2.6s;
}
@keyframes anim {
	0% {
	  transform: scale(0);
	  opacity: 0; 
	}
	100% {
	  transform: scale(1); 
	  opacity: 1;
	}
}
h2 {
	position: relative;
	top: -77px;
	background-color: #f2f2f2;
	padding-bottom: 20px;
	padding-top: 20px;
	border-radius: 20px 20px 0px 0px;
	padding-left: 15px;
	justify-content: space-between;
	display: flex;
	font-family: shrikhandregular;
}
h4 {
	padding-top: 10px;
	padding-left: 10px;
} 
h3 {
	opacity: 0.7;
	margin-left: 10px;
}
p {
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
}
footer {
	width: 100%;
	background-color: #303030;
    color: #FFFAFA;
	padding-bottom: 20px;
}
#titre3 {
	margin-left: 10px;
	padding-top: 15px;
	font-size: 1em;
}
.phrase {
	display: flex;
	justify-content: space-between;
	margin: auto;
}
.fourchette {
	padding-right: 10px;
	font-size: 0.7em;
	margin-left: 10px;
}
.main {
	font-size: 0.7em;
	padding-right: 7px;
	margin-left: 7px;
}
.chartre2 {
	padding-left: 18px;
}
.coeur {
	font-size: 0.8em;
	margin-top: 5px;
	margin-right: 25px;
	opacity: 0.7;
}
.chartre {
	margin: -2px;
}